# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CsvProcessor.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\taofeeal\RiderProjects\CsvProcessor\.idea\.idea.CsvProcessor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
